<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/layout.css" rel="stylesheet" />
    <link href="~/css/table.css" rel="stylesheet" />
</head>
<body>
    <div class="menubar">
        <button class="btn" onclick="window.location = '@Url.ActionLink("Management","Product")'">Ürün Yönetimi</button>
        <button class="btn" onclick="window.location = '@Url.ActionLink("Index","Product")'">Ürün Listesi</button>
        <button class="btn" onclick="window.location = '@Url.ActionLink("Index","Basket")'">Sepet</button>
        <button class="btn btnlogout" onclick="window.location = '@Url.ActionLink("Logout","Login")'">Çıkış Yap</button>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <div class="content">
        @RenderBody()
    </div>

</body>
</html>
